# Add your default port
# usually for React it is 3000
PORT=

# Copy your GraphCMS endpoint which can be found on your
# GraphCMS dashboard, Project Settings > Endpoints (High Performance Content API)
NEXT_PUBLIC_GRAPHCMS_ENDPOINT=

# Copy your GraphCMS Token
# Found in, Project Settings > Permanent Auth Tokens
GRAPHCMS_TOKEN=

